.parent{
    width:60%;
    height: 200px;
    background-color:red;
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: 30%;
}
.first,.second,.third,.fixed{
    width: 100px;
    height: 100px;
}


.first{
    background-color: darkslategray;
}
.second{
    background-color: blueviolet;
    position: absolute;
    top:0;
    left: 110px;
}
.third{
    background-color: chocolate;

}
.fixed{
    background-color: forestgreen;
    position: fixed;
    
}

